# Novo SGA — variáveis de ambiente
# cp .env.example .env

# ── Banco de dados
POSTGRES_DB=novosga
POSTGRES_USER=novosga
POSTGRES_PASSWORD=          # obrigatório: openssl rand -hex 16

# ── Mercure
# Endereço Mercure para publicar mensagem (onde "mercure" é o nome do host)
# esse endereço será chamado internamente via o PHP
MERCURE_URL=http://mercure:3000/.well-known/mercure
# Endereço Mercure para consumir mensagem
# esse endereço será chamado via o navegador web
MERCURE_PUBLIC_URL=http://127.0.0.1:13000/.well-known/mercure
MERCURE_JWT_SECRET=         # obrigatório: openssl rand -hex 32

# Fuso horário e localidade
TZ=America/Sao_Paulo
LANGUAGE=pt_BR

# ── Admin inicial
NOVOSGA_ADMIN_USERNAME=admin
NOVOSGA_ADMIN_PASSWORD=     # obrigatório: openssl rand -hex 16
NOVOSGA_ADMIN_FIRSTNAME=Administrador
NOVOSGA_ADMIN_LASTNAME=Global
